@font-face {
  font-family: "Regular";
  src: local("UthmanicScriptRegular"),
    url("./fonts/UthmanicScriptRegular.otf") format("truetype");
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
